<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Important Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Red Color Enabled</string>
			<key>Key</key>
			<string>UseRedColor</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Logo Color</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Image Alpha</string>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>ImageAlpha</string>
			<key>DefaultValue</key>
			<real>0</real>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MaximumValue</key>
			<integer>1</integer>
			<key>MinimumValueImage</key>
			<string>low.png</string>
			<key>MaximumValueImage</key>
			<string>high.png</string>
		</dict>
	</array>
</dict>
</plist>
